body{
    background-color: #F2F2F2;
    vertical-align: top;
}
#minesweeper, #menu, #solution{
    display: inline-block;
    /*vertical-align: top;*/
}
#minesweeper, #solution{
    margin-left: 100px;
    margin-top: 30px;
}
#menu{
    margin-top: 30px;
    height: 418px;
    vertical-align: bottom;
}
td {
    width: 50px;            !important;
    height: 50px;           !important;
    margin: 30px;           !important;
    text-align: center;     !important;
    font-size: x-large;     !important;
    font-family: Arial;     !important;
    font-weight: bold;      !important;
    color: #1C1C1C;         !important;  
}
.arrondie {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.red{
    color: red;
}
.hidenCase{
    background-color: #6E6E6E;
}
.visibleCase{
    background-color: #D8D8D8;
}
.elementHide{
    display: none;          !important;
}
#new, #restart, #rep{
    height: 60px;
    width: 150px;
}
#rep{
    margin-bottom: 0px;
}
.mine{
    font-weight:bold;
}